<a href="https://colab.research.google.com/github/amul-dhungel/Data-Scientist/blob/main/Introduction%20to%20pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary to DataFrame
In pandas there is a way of representing multiple dictionaries into dataframe.

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [ ]:
# Import pandas as pd
import pandas as pd

In [ ]:
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}
my_dict

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [ ]:
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

## Indexing of table with certain data

In [ ]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [ ]:
## Reading of CSV file in pandas
url = 'https://raw.githubusercontent.com/AmoDinho/datacamp-python-data-science-track/master/Intermediate%20Python%20for%20Data%20Science/Datasets/cars.csv'

# creating of first column as an index of a table
cars = pd.read_csv(url,index_col=0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Subsetting of dataframe with the use of loc,iloc and square brackets
Subsetting means the dissecting of whole tables into different form, like
outputting only columns or specific rows

In [ ]:
# single brack gives series
cars["country"]

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [ ]:
# double bracket gives dataframe
cars[["country"]]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [ ]:
# print out first three observations of rows
cars[0:3]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [ ]:
# loc is to select data in the form of specififying row label
cars.loc[['AUS','JAP']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JAP           588      Japan         False

In [ ]:
# subsetting of specific rows with desire columns
# first bracket is for rows, second is for columns
cars.loc[['RU', 'MOR'], ['country', 'drives_right']]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [ ]:
# Print out drives_right column as DataFrame
print(cars.iloc[:, [2]])

# to print out all rows but specific columns only
cars.loc[:, ['cars_per_cap', 'drives_right']]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

## Filtering dataframe
This is a technique of filter dataframe by using logical operations like outputting only values of columns with "True"

In [ ]:
# Extract drives_right column
dr = cars['drives_right']

# Use dr to subset cars with only "True values"
sel = cars[dr]

# Print sel,which outputs the only columns wiht true values
sel

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [ ]:
# converting of above code into one linear form
dr = cars[cars['drives_right']]
dr

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [ ]:
# Create car_maniac: observations that have a cars_per_cap over 500
car_maniac = cars[cars['cars_per_cap'] > 500]

# Print car_maniac
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [ ]:
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
# to evaluate a single column with more than one evaluation , we should used numpy function
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
medium

    cars_per_cap country  drives_right
RU           200  Russia          True

# Advance Data Manipulation

## Slicing and indexing dataframes